<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="fname" value="Java"></parameter>
  <parameter name="lname" value="Selenium"></parameter>
   <classes>
      <class name="parallel_Testing.PassingParameters"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
